.podtytul {
font-size: 2vw;
font-family: Arial;
}
.login {
	text-align:center;
	font-size: 1px;
}
.tytul {
font-family: Arial;
text-align: center;
}
.arial {
	font-family: Arial;
}
p {
	font-family: Arial;

	font-size: 1.5vw;
}
h1 {
	font-family: Arial;
}
h2 {
	font-family: Arial;
}
h3 {
	font-family: Arial;
}
li {
	font-family: Arial;
	font-size: 1.28vw;
}
.buy {
	font-size: 35px;
	font-family: Arial;
}
